*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-family: '';
}
body{
    background-color: rgba(87, 81, 81, 0.063);
    /* width: 100%; */
}

.Landing{
    align-content: center;
    background-image: url("Assets/hero-cover.3.png");
    position: relative;
    background-repeat: no-repeat;
    height: 115vh;
    font-size: large;
    background-size: cover;
    max-width: 100%;
}

nav{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    width: 75%;
    position: relative;
    padding-left: 15%;
    padding-top: 1%;
}

a{
    text-decoration: none;
    color: white;   
}

.nav-links ul li{
    list-style: none;
    display: inline;
    padding: 2%;
}
.account{
    display: inline-block;
    
    
}
.account button{
    margin-left: 9%;
    padding: 2%;
    border: none;
    background-color: #23A6F0;
    padding-right: 10%;
}

.service{
    padding-top: 13%;
    align-content: center;
    text-align: center;
    color: white;
}
.service h1{
    font-size: 400%;
}

.service p{
    font-size: 150%;
    padding: 2%;
}
.service button{
    padding: 0.6%;
    font-size: x-large;
    border: white ridge;
    border-radius: 30px;
    background-color: #23a5f000;
}
#quote{
    background-color: #23A6F0;
    border: #23A6F0 ridge;

}

.sbox{
    display: flex;
    padding: 8%;
    position: relative;
    left: 10%;
    max-width: 70%;
    bottom: 5%;
    margin-bottom: 3%;
    
}
.sbox img{
    width: 20%;
    position: relative;
}

.sbox h2{
    font-size: x-large;
    

}

.sbox p{
    font-size: large;
}

.box{
    padding: 2%;
    text-align: left;
    width: 25%;
    background-color: white;
    margin: 1%;
}
.blue{
    padding: 2%;
    text-align: left;
    width: 25%;
    margin: 1%;
    background-color: #23A6F0;

}

.Container{
    position: relative;
    display: flex;
    padding: 10%;
    margin: 10%;
    width: 80%;
    text-align: center;
    margin-left: 0%;
    background-color: white;
}
.flex{
    width: 50%;
    padding: 1%;
    margin: -5%;
    
}
.flex h2, p{
    font-size: larger;
    padding: 2%;
    
}

.Team, .pricing{
    position: relative;
    /* width: 40%; */
    padding: 1%;
    margin: 0%;
    font-size: larger;
    text-align: center;

}

figure{
    display: inline-block;
    padding: 5%;
    /* align-content: center; */
    width: 21%;
    margin: 1%;
    background-color: white;
}

figcaption{
    text-align: center;
    width: 110%;
    padding: 1%;
    font-size: x-large;
}
.vector{
    display: inline-block;
    position: relative;
    margin: 1%;
    width: 100%;
}
.vector img{
    padding: 0.7%;
}

.subscription{
    padding: 2%;
    align-items: center;
    margin: 2%;
    margin-bottom: 10%;
    width: 90%;
    background-image: linear-gradient(45deg, #043ca3, #f31790);
    display: inline-flex;
    float: right;
    position: relative;

}

.subscription button{
    left: 30%;
    padding: 1%;
    background: #23A6F0;
    color: white;
    font-size: large;
    position: relative;

    
}
form{
    display: contents;
}
form input[type=text]{
    font-size: large;
    padding: 1%;
    width: 20%;
    left: 30%;
    position: relative;   
}

.offers{
    display: flex;
    position: relative;
    align-content: center;
    /* width: 60%; */

}
.price-box{
    padding: 5%;
    margin: 0%;
    width: 10%;
    border: 2px;
    border-color: #23A6F0;
    border-radius: 10px;
    background-color: white;
}

.right-text{
    width: 40%;
    align-items: center;
    padding: 2%;
    margin: 3%;
    color: white;
}

.right-text h2{
    font-size: xx-large;
    padding: 2%;
}
.right-text p{
    font-size: small;
}
.tab{
    display: flex;
    background-color: rgb(5, 5, 60);
    padding: 0%;
    position: relative;
    box-sizing: border-box;
}
.appointment{
    width: 40%;
    padding: 2% 30%;
}
.appointment input[type=text], select {
    display: block;
    padding: 2% 2%;
    margin: 1% 0%;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.appointment input[type=submit-button] {
    background-color: #23A6F0;
    color: white;
    text-align: center;
    padding: 2% 2%;
    margin: 1% 0%;
    width: 60%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


@media only screen and (max-width: 768px){
    .landing{
        width: 100%;
        font-size: small;
    }
}